@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Lato:400,300,300italic,400italic,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,500italic,600);

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,300,200italic,200);

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoth: auto;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body, html {
  font-family: 'Open Sans', sans-serif;
  color: #283033;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
  background: #f3f3f3!important;
}

.text_center {
  text-align: center
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.margin {
  margin: 1em!important
}

.margin_top {
  margin-top: 1em!important
}

.margin_left {
  margin-left: 1em!important
}

.margin_right {
  margin-right: 1em!important
}

.margin_bottom {
  margin-bottom: 1em!important
}

.zeropadding {
  padding: 0em!important
}

.padding {
  padding: 1em!important
}

.padding_top {
  padding-top: 1em!important
}

.padding_left {
  padding-left: 1em!important
}

.padding_left_2 {
  padding-left: 3em!important
}

.padding_right {
  padding-right: 1em!important
}

.padding_bottom {
  padding-bottom: 1em!important
}

.zeromargin-top {
  margin-top: 0!important
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

#nav .affix {
  position: fixed;
  -o-transition: all 0.4s ease-in!important;
  transition: all 0.4s ease-in!important;
  -webkit-transition: all 0.4s ease-in!important;
  -moz-transition: all 0.4s ease-in!important;
  z-index: 10
}

.navbar {
  min-height: 60px!important;
}

.navbar-default {
  -o-transition: all 0.4s ease-in!important;
  transition: all 0.4s ease-in!important;
  -webkit-transition: all 0.4s ease-in!important;
  -moz-transition: all 0.4s ease-in!important
}

.navbar-default {
  background-color: #cb202d!important;
  border-color: rgba(235, 56, 62, 0.8)!important;
  border-radius: 0!important;
}

.navbar-default .navbar-nav>li>a {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 1.1px;
  line-height: 30px;
  color: #fff!important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #333;
  background-color: rgba(235, 56, 62, 0.75)!important;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: red;
}

.navbar li {
  color: #000
}

#nav .affix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1030;
  width: 100%;
  padding: 0;
  -o-transition: all 5s ease-in!important;
  transition: all 5s ease-in!important;
  -webkit-transition: all 5s ease-in!important;
  -moz-transition: all 5s ease-in!important
}

.wrapper {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto
}

.clearfix:after, .clearfix:before {
  content: '';
  display: table
}

.clearfix {
  clear: both
}

header {
  height: 10px;
  padding: 0;
  margin: 0 auto;
  background-color: transparent;
  z-index: 2000!important
}

header .topbar {
  padding: 0;
  margin: 0 auto;
  background-color: #b3202b;
  width: 100%;
  color: #fff;
  text-align: center
}

header .topbar .bit-1 {
  text-align: right;
  padding: 0.085em;
  padding-right: 1em;
}

header .topbar span {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  margin-left: 10%;
  font-weight: 600
}

header .topbar .top_contact i {
  font-weight: bold;
  color: #fff;
  padding-right: 2%;
  text-align: right;
}

header .topbar .top_contact span {
  color: #fff;
  font-size: 0.85em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding-left: 0!important;
  vertical-align: middle;
  display: inline;
  text-align: left
}

header .topbar .top_contact a {
  color: #fff
}

.affix {
  top: 0;
  width: 100%
}

.navbar-default .navbar-brand {
  color: #fff;
  z-index: 9999!important;
  /*padding: 10px*/
}

#banner {
  background: transparent url("../images/banner.jpg") center top no-repeat;
  background-size: cover;
  margin-top: 80px;
  width: 100%;
  height: 87vh
}

.banner_Heading {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2em;
  font-family: 'lato', cursive;
  text-align: center
}

.banner_Heading h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.8em;
  /* padding-top: 8%; */
  color: #fff;
  text-shadow: 0px 50px 100px rgb(0, 0, 0);
}

.banner_Heading p {
  font-family: 'Tangerine', cursive;
  font-size: 1.3em;
  /* text-shadow: 1px solid red; */
  color: #fff;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  letter-spacing: 1.2px;
}

.banner_Heading button {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 25px;
  border-radius: 10px;
  margin-bottom: 10%;
  color: #ffffff;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.banner_Heading button:hover {
  background-color: #ffff;
  padding: 10px 25px;
  border-radius: 10px;
  margin-bottom: 10%;
  color: #262626;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s
}

.Sub_heading {
  padding-bottom: 3em
}

.Sub_heading h1 {
  color: #ee3239;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  font-family: 'Tangerine', cursive;
  text-shadow: 1px solid red;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%
}

#about_us {
  background-repeat: repeat;
  background-color: #fff!important;
  width: 100%;
  border: 0;
  padding: 1% 1% 5%;
  z-index: -1!important
}

#about_us h3 {
  font-family: 'Raleway', sans-serif;
  color: #283033;
  font-weight: 600;
  text-align: center;
  font-size: 1.5em
}

#about_us .abt_content {
  font-family: 'Open Sans', sans-serif;
  color: #283033;
  padding-top: 1em
}

#about_us .title_caption {
  color: #ee3239;
  font-size: 2.8em;
  font-weight: bold;
  text-align: center;
  font-family: 'Tangerine', cursive;
  text-shadow: 1px solid red;
  padding-top: 1%;
  padding-left: 15%;
  padding-right: 15%
}

.readmore {
  background-color: #ee3239;
  border-radius: 3px;
  color: #fff;
  width: 10em;
  text-align: center
}

.content_text {
  font-family: 'Lato', sans-serif;
  color: #282828;
  font-weight: 400;
  margin-right: 5%;
  margin-left: 5%;
  line-height: 150%;
  font-size: 1.2em;
  padding-bottom: 3%
}

.content_text p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  line-height: 180%;
  padding: 10px;
  color: #353f49;
  letter-spacing: 0.3px;
  font-weight: 400;
  text-align: justify
}

#Features {
  background-color: #ee3239;
  background-size: cover;
  width: 100%;
  border: 0;
  padding: 2%;
  -moz-box-shadow: 0 -7px 6px #d1272d inset;
  -webkit-box-shadow: 0 -7px 6px #d1272d inset;
  box-shadow: 0 15px 6px rgba(40, 40, 40, 0.1) inset;
  color: #fff
}

#Features .icon_heading {
  font-size: 2em;
  line-height: 1.141em;
  margin-bottom: 25px;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  letter-spacing: 1px;
  color: #fff
}

#Features .services_text {
  font-family: 'open sans', sans-serif;
  font-size: 1.0em;
  line-height: 200%;
  padding: 0 4em;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  height: 10em
}

#Features .ser_btn {
  background-color: transparent;
  color: #fff;
  text-align: center;
  width: 8em;
  margin-bottom: 1em;
  margin-left: 1em;
  border-radius: 3px;
  margin: 0 auto;
  display: inline-block;
  border: 1px solid #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease
}

#Features .ser_btn:hover {
  background-color: #fff;
  color: #ee3239
}

.white-font {
  color: #fff
}

.navbar-brand {
  padding: 0
}


/*
#price_table {
    background-color: rgba(239, 240, 242, 0.6);
    background-size: cover;
    width: 100%;
    border: 0;
    padding: 2%;
    color: #283033
}

#price_table h1 {
    color: #ee3239;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    font-family: 'Tangerine', cursive;
    text-shadow: 1px solid red;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%
}

#prices {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    font-family: 'open sans';
    font-weight: normal;
    background-color: white;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

#prices h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
    color: #283033;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1)
}

#prices h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.0em;
    padding-top: 1em;
    color: #283033;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border-top: 1px #dcdddf double
}

#prices p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    padding-bottom: 1.5em;
    text-align: center;
    color: #283033;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1)
}

#prices button {
    background-color: #ee3239;
    border-radius: 3%;
    color: #fff;
    width: 8em;
    text-align: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 3em
}

#prices button:hover {
    background-color: #B02126;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
}

#prices:hover {
    background-color: rgba(228, 228, 228, 0.26);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s
} */

.footer {
  font-family: 'Roboto', sans-serif;
  padding: 4rem 0;
  bottom: 0;
  left: 0;
  background: #1d2326!important;
}

.footer .copyright {
  text-align: center;
  font-weight: 400;
  color: #fff;
  font-size: 1em;
  letter-spacing: 1.3px;
  padding: 1em;
}

.footer .copyright a {
  color: #fff!important;
  text-decoration: none
}

.icon_feature {
  color: #62d7c8;
  font-size: 3.5rem;
  border: 1px solid #62d7c8;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  -webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s, color 0.3s ease 0s;
  transition: background 0.3s ease 0s, color 0.3s ease 0s
}

.icon_feature:hover {
  color: #fff;
  font-size: 3.5rem;
  border: 1px solid #ee3239;
  background-color: #ee3239;
  text-align: center;
  -webkit-transition: background 0.3s ease 0s, color 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s, color 0.3s ease 0s;
  transition: background 0.3s ease 0s, color 0.3s ease 0s
}

.icon_text {
  font-size: 0.9em;
  text-align: center;
  margin-top: 1em;
  color: #283033;
  font-weight: 600
}

.hr_style {
  border-top: 4px double #8c8b8b;
  text-align: center
}

.hr_style:after {
  content: '\002665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px
}

.title_heading {
  font-family: 'Abril Fatface', cursive;
  color: #d53b3b;
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: center
}

.custom-icon {
  font-size: 45px!important;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 1100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 3px solid #ee3239;
  color: #d53b3b;
  -webkit-box-shadow: 0 1px 10px rgba(145, 145, 145, 0.1);
  box-shadow: 0 1px 10px rgba(145, 145, 145, 0.1);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  -moz-transition: 200ms cubic-bezier(0.4, 0, 1, 1);
  -webkit-transition: 200ms cubic-bezier(0.4, 0, 1, 1);
  -o-transition: 200ms cubic-bezier(0.4, 0, 1, 1);
  transition: 200ms cubic-bezier(0.4, 0, 1, 1)
}

.custom-icon:hover {
  background: #ee3239;
  color: #fff;
  border: 3px solid #fff;
  -moz-transition: 200ms cubic-bezier(0.4, 0, 1, 1);
  -webkit-transition: 200ms cubic-bezier(0.4, 0, 1, 1);
  -o-transition: 200ms cubic-bezier(0.4, 0, 1, 1);
  transition: 200ms cubic-bezier(0.4, 0, 1, 1);
  -webkit-box-shadow: 0 1px 10px rgba(145, 145, 145, 0.25);
  box-shadow: 0 1px 10px rgba(145, 145, 145, 0.25)
}

.fix-editor {
  display: none
}

.icon-wrapper {
  display: inline-block
}


/* slider css */

.container {
  margin-top: 20px;
}


/* Carousel Styles */

.carousel-indicators .active {
  background-color: #2980b9;
}

.carousel-inner img {
  width: 100%;
  background-size: cover;
  max-height: 86vh;
}

.carousel-control {
  width: 0;
}

.carousel-control.left, .carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

.carousel-control.left span {
  padding: 15px;
}

.carousel-control.right span {
  padding: 15px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: 0;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  right: 0;
}

.carousel-control.left span, .carousel-control.right span {
  background-color: #000;
}

.carousel-control.left span:hover, .carousel-control.right span:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}


/* Carousel Header Styles */

.header-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.header-text h2 {
  font-size: 40px;
}

.header-text h2 span {
  background-color: #2980b9;
  padding: 10px;
}

.header-text h3 span {
  background-color: #000;
  padding: 15px;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-theme {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 15px;
}

.btn-theme:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.res_section {
  padding: 1.5em!important;
}

.res_section .bit-3 {
  margin-bottom: 1.5em!important;
  margin-right: 1em!important;
  width: 32%;
  transition: all 0.5s;
}

.res_section .bit-3:hover {
  box-shadow: 0 5px 27px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.res_logo {
  border: 1px solid rgba(29, 35, 38, 0.14);
  box-shadow: 0px 3px 14px 1px rgba(0, 0, 0, 0.01);
  margin: 0.5em;
  background-color: rgb(255, 255, 255)
}

.res_logo img {
  width: 300px;
  height: auto;
  background-size: cover;
  /* padding: 1em; */
}

.res_details {
  text-align: center;
  padding: 0;
  margin: 0
}

.res_details h3 {
  font-size: 1.5em!important;
  /* padding-bottom: 0.6em; */
  margin: 0 auto;
  text-align: left;
  color: rgb(44, 44, 44);
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.res_select {
  border-radius: 5px!important;
  background-color: #fff;
  border: 1px solid rgba(196, 196, 196, 0.4);
  /* padding: 0.5em!important; */
}

.res_image {
  display: block;
  background-position: center;
  width: 100px;
  position: relative;
  height: 8.5em;
  transition: all .5s ease;
  /* background-color: #1d2326 */
}

.res_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  height: auto;
}

.res_details {
  padding: 10px;
  margin: 0 auto;
  height: 8.5em;
  border-left: 1px solid rgba(226, 226, 226, 0.61);
}

.res_details h3 {
  color: #d1272d;
  font-size: 1.5em;
  text-align: left;
  padding: 8px!important;
}

.res_details p {
  color: #47566f;
  margin-bottom: 5px;
  font-size: 0.85em;
  text-align: left;
}

.res_details span {
  color: #757575;
  font-weight: 500;
}

#res_select {
  display: block;
  width: 100%;
  transition: all .5s ease;
}

#res_select td {
  box-sizing: border-box;
}

.res_margin {
  padding-right: 1em!important;
  padding-bottom: 0;
  /*height: 10em;*/
  margin-bottom: 2em;
  display: table;
}

@media (min-width:300px) and (max-width:768px) {
  .res_section .bit-3 {
    margin-bottom: 0.5em!important;
    margin-right: 0em!important;
    width: 100%;
  }

  .res_image {
    width: 100%;
  }

  .res_image img {
    width: 100px;
    text-align: center;
    margin: 0 auto;
  }

  .res_details {
    height: 100%;
    height: 7em;
  }

  details .res_details h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0em;
  }

  .banner {
    margin-top: 80px;
    z-index: -1;
  }
}

.navbar-brand>img {
  height: 30px;
}

.navbar_search {
  border: none!important;
  border-radius: 2px!important;
  height: 45px!important;
  background-color: #fff!important;
  cursor: pointer;
  width: 400px!important;
}

.navbar_location {
  border: none!important;
  border-radius: 0 0 2px!important;
  height: 45px!important;
  background-color: #fff!important;
  cursor: pointer;
  /*width: 400px!important;*/
}

::-webkit-input-placeholder {
  color: rgb(34, 34, 34)!important;
}

:-ms-input-placeholder {
  color: red;
}

::-moz-placeholder {
  color: rgb(34, 34, 34)!important;
  opacity: 1;
}

:-moz-placeholder {
  color: rgb(34, 34, 34)!important;
  opacity: 1;
}

.search_button {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, .75)!important;
  font-weight: 500;
  font-size: 15px;
  border-radius: 4px;
  height: 38px;
  padding: 8px 10px;
  margin-left: 3px;
  background-color: transparent;
}

.search_button:hover {
  color: #fff!important;
  background-color: #D94148;
}

.navbar-default .navbar-form {
  border: 0!important;
}

.content_section {
  margin-top: 80px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  min-height: 120vh;
}

.input-group-addon {
  background-color: white!important;
  border: 0!important;
}

.main_content {
  padding: 1em;
  background-color: #F3F3F3;
}

.res_content_sec {
  /*background-color:red;*/
  margin-top: 1em;
  width: 70%!important;
}

.white_bg {
  background-color: #fff!important;
  box-shadow: 0px 1px 10px 5px rgba(158, 158, 158, 0.1);
  border: 1px rgba(158, 158, 158, 0.27) solid;
  margin-bottom: 2em;
  border-radius: 5px;
}

.res_banner {
  background-repeat: no-repeat;
  background-size: cover;
  /*background: red*/
}

.res_banner_img {
  width: 100%;
  border-radius: 3px;
  height: 300px;
}

.sidebar_info {
  /*border: 1px solid #e2e2e2!important;*/
  padding: 0.5em!important;
  width: 30%!important;
}

.card_res_name {
  margin: 4px;
}

.card_res_name p a {
  font-size: 0.85em;
  text-align: center;
  color: #2a2a2a;
  padding-left: 5px;
  padding-right: 5px;
}

.res_cards {
  background: #fff;
  width: 40%!important;
  height: 200px;
  margin: 12px;
  overflow: hidden;
  /*border: 1px solid rgba(0, 0, 0, 0.08);*/
  /*box-shadow:1px 3px 16px -7px #9E9E9E;*/
  border: 1px solid #e7e7e7;
  border-radius: .28571429rem;
  box-shadow: none;
  -webkit-transition: box-shadow .1s ease, -webkit-transform .1s ease;
  transition: box-shadow .1s ease, -webkit-transform .1s ease;
  transition: box-shadow .1s ease, transform .1s ease;
  transition: box-shadow .1s ease, transform .1s ease, -webkit-transform .1s ease;
}

.res_cards:hover {
  box-shadow: 1px 3px 16px -7px #9E9E9E;
  -webkit-transition: box-shadow .1s ease, -webkit-transform .1s ease;
  transition: box-shadow .1s ease, -webkit-transform .1s ease;
  transition: box-shadow .1s ease, transform .1s ease;
  transition: box-shadow .1s ease, transform .1s ease, -webkit-transform .1s ease;
}

.res_cards img {
  height: 107px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  display: block;
}

.res_card_address {
  font-size: 0.65em;
  padding: 0!important;
  color: #636363;
  padding-left: 5px!important;
  padding-right: 5px!important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.res_name_header {
  max-width: 100%;
  line-height: 130%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.res_name_header h3 {
  margin-left: 1em;
  padding: 0.25em;
  width: 70%;
  white-space: nowrap;
}

.res_rating p {
  margin: 5px;
  padding: 0.25em;
  background: #BAD555;
  float: right;
  border-radius: .28571429rem;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 39px;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  padding-left: 15px;
  padding-right: 15px;
}

.text-muted {
  font-size: 0.85em;
}

.pagination>li>a, .pagination>li>span {
  border: 0px!important;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  background-color: transparent!important;
  border: 0!important;
}

.btn_res_info {
  background: #FFF!important;
  border: 1px solid #e7e7e7!important;
  color: rgba(96, 106, 123, 0.8)!important;
  box-shadow: none;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  margin-left: 1em;
  min-width: 150px;
  width: 15%;
  transition: all 0.5s;
}

.btn_res_info:hover {
  background-color: rgba(129, 159, 177, 0.2)!important;
  border: 1px solid rgba(129, 159, 177, 0.28)!important;
  transition: all 0.5s;
}

.OrderOnline {
  background-color: rgb(1, 140, 56);
  color: #fff!important;
  padding: 10px 20px!important;
  transition: all 0.5s;
  cursor: pointer;
}

.OrderOnline:hover {
  background-color: rgba(138, 138, 138, 0.29)!important;
  transition: all 0.5s;
}

.btn-disabled {
  background-color: rgba(138, 138, 138, 0.85)!important;
  cursor: not-allowed!important;
  transition: all 0.5s;
}

.submenu {
  padding: 1em!important;
}

.submenu .nav-tabs {
  border: 0!important;
  padding: 0!important
}

.submenu .nav-tabs>li>a {
  border: 1px solid rgb(214, 214, 214)!important;
  font-size: 1.2em;
  background-color: #fff;
  padding: 13px 28px;
  margin: 0 auto;
  min-width: 150px;
  text-align: center;
  text-transform: none;
  border-radius: 0!important;
  color: #323d4d;
  font-weight: 400;
  -webkit-transition: background .1s ease, box-shadow .1s ease, color .1s ease;
  transition: background .1s ease, box-shadow .1s ease, color .1s ease;
}

.submenu .nav-tabs>li.active>a, .submenu .nav-tabs>li.active>a:focus, .submenu .nav-tabs>li.active>a:hover {
  box-shadow: inset 0px -2px 0px 0px rgba(210, 36, 49, 0.95);
  background-color: rgba(56, 68, 77, 0.025);
}

.green_text {
  color: rgb(11, 119, 24);
  font-weight: bold;
  font-size: 1.2em;
}

.green {
  font-family: 'Raleway', sans-serif;
  color: rgb(11, 119, 24)!important;
  font-weight: 400;
}

.text-danger {
  color: rgba(210, 36, 49, 0.95)!important;
  font-size: 0.85em;
}

.details_sec ul {
  list-style: none;
  padding: 0;
}

.details_sec li {
  padding-left: 1.3em;
}

.details_sec li:before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: rgba(11, 138, 77, 0.95)!important;
}

.border_top {
  border-top: 1px solid rgba(106, 106, 106, 0.15);
}

.new_segment {
  background-color: #ff4e1f;
  color: #fff;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 2px;
}

.menu_img li {
  float: left;
  list-style-type: none;
}

.menu_img li img {
  height: 150px;
  width: 130px;
  margin-right: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.thumbnail {
  position: relative;
  overflow: hidden;
  border: 0px!important;
}

.caption {
  position: absolute;
  color: #fff!important;
  left: 5px;
  bottom: 0px;
  height: 30px;
  width: 130px;
  background: rgba(0, 0, 0, 0.81);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .5s;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0 0 10px 10px;
}

.res_Photos li {
  float: left;
  border: 1px solid rgba(120, 120, 120, 0.53);
  list-style-type: none;
  margin: 10px;
}

.res_Photos .thumbnail {
  padding: 0!important;
  border: 1px solid rgba(120, 120, 120, 0.53)!important;
}

.res_Photos li img {
  height: 100%;
  width: 130px;
  margin-right: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.res_Photos .caption {
  position: absolute;
  color: #fff!important;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 160px;
  background: rgba(0, 0, 0, 0.81);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .5s;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0 0 3px 3px;
}

.review_tab {
  padding: 1em!important;
}

.review_tab input {
  width: 100%;
  border-radius: 0;
  border-left: 0px!important;
  outline: 0;
  opacity: 0.75;
}

.review_tab input:active,
.review_tab input:focus,
.review_tab input:hover,
.review_tab .input-group-addon {
  outline: 0!important;
}

.review_tab .input-group-addon {
  border: 1px solid rgba(0, 0, 0, 0.21)!important;
  border-right: 0px!important;
  outline: 0;
}

.review_tab .input-group-addon i {
  color: rgba(16, 35, 43, 0.59)
}

.read_review_tab {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
  padding: 0em 1em!important;
  text-align: justify;
  color: #888888;
}

.read_review_tab  .cus_pro_img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 1em;
  overflow: hidden;
  background-size: cover;
}

.read_review_tab  .cus_pro_img img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  background-size: cover;
}

.pro_details p {
  padding-top: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
}

.pro_details .btn_rev_info {
  background: #FFF;
  border: 1px solid #e7e7e7;
  font-size: 10px;
  padding: 4px 10px;
  border-radius: 2px;
}
.read_review_tab  .submenu li a{
  border: 0!important;
}
